swagger: "2.0"
info:
  title: Ridge Object Storage API
  description: An API for the Ridge Object Storage
  version: unstable
host: api.ridge.co
basePath: /ros/unstable
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /orgs/{org}/projects/{project}/storage-sites:
    parameters:
    - name: org
      in: path
      description: The organization identifier.
      required: true
      type: string
    - name: project
      in: path
      description: The project identifier.
      required: true
      type: string
    get:
      operationId: listStorageSites
      summary: List all storage sites for a project
      description: List all storage sites for a project
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/storage_sites'
        400:
          description: Bad Request
          schema:
            type: string
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: Not Found
          schema:
            type: string
  /orgs/{org}/projects/{project}/storage-sites/{site}:
    parameters:
    - name: org
      in: path
      description: The organization identifier.
      required: true
      type: string
    - name: project
      in: path
      description: The project identifier.
      required: true
      type: string
    - name: site
      in: path
      description: The storage site identifier.
      required: true
      type: string
    get:
      operationId: describeStorageSite
      summary: Describe a storage site for a project
      description: Describe a storage site for a project
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/storage_site'
        400:
          description: Bad Request
          schema:
            type: string
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: Not Found
          schema:
            type: string
  /orgs/{org}/projects/{project}/storage-sites/{site}/buckets:
    parameters:
    - name: org
      in: path
      description: The organization identifier.
      required: true
      type: string
    - name: project
      in: path
      description: The project identifier.
      required: true
      type: string
    - name: site
      in: path
      description: The storage site identifier.
      required: true
      type: string
    get:
      operationId: listBuckets
      summary: List all buckets in a storage site
      description: List all buckets in a storage site for the project
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/buckets'
        400:
          description: Bad Request
          schema:
            type: string
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: Not Found
          schema:
            type: string
      tags:
      - internal
    post:
      operationId: createBucket
      summary: Create a bucket
      description: Create a bucket in a storage site
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/bucket_create'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/bucket'
        400:
          description: Bad Request
          schema:
            type: string
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: Not Found
          schema:
            type: string
      tags:
      - internal
  /orgs/{org}/projects/{project}/storage-sites/{site}/buckets/{bucket}:
    parameters:
    - name: org
      in: path
      description: The organization identifier.
      required: true
      type: string
    - name: project
      in: path
      description: The project identifier.
      required: true
      type: string
    - name: site
      in: path
      description: The storage site identifier.
      required: true
      type: string
    - name: bucket
      in: path
      description: The name of the bucket
      required: true
      type: string
    get:
      operationId: describeBucket
      summary: Describe a bucket
      description: Describe a bucket under a project in a storage site
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/bucket'
        400:
          description: Bad Request
          schema:
            type: string
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: Not Found
          schema:
            type: string
      tags:
      - internal
    delete:
      operationId: deleteBucket
      summary: Delete a bucket
      description: Delete a bucket in a storage site
      responses:
        204:
          description: Success
        400:
          description: Bad Request
          schema:
            type: string
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: Not Found
          schema:
            type: string
      tags:
      - internal
  /orgs/{org}/projects/{project}/storage-sites/{site}/buckets/{bucket}/objects:
    parameters:
    - name: org
      in: path
      description: The organization identifier.
      required: true
      type: string
    - name: project
      in: path
      description: The project identifier.
      required: true
      type: string
    - name: site
      in: path
      description: The storage site identifier.
      required: true
      type: string
    - name: bucket
      in: path
      description: The name of the bucket
      required: true
      type: string
    get:
      operationId: listObjects
      summary: List objects in a bucket
      description: List objects in a bucket
      parameters:
      - name: prefix
        in: query
        description: The prefix limits the results to only those keys that begin with
          the specified prefix.
        type: string
      - name: delimiter
        in: query
        description: The delimiter causes a list operation to roll up all the keys
          that share a common prefix into a single summary list result.
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/objects'
        400:
          description: Bad Request
          schema:
            type: string
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: Not Found
          schema:
            type: string
      tags:
      - internal
  /orgs/{org}/projects/{project}/storage-sites/{site}/buckets/{bucket}/objects/{object}:
    parameters:
    - name: org
      in: path
      description: The organization identifier.
      required: true
      type: string
    - name: project
      in: path
      description: The project identifier.
      required: true
      type: string
    - name: site
      in: path
      description: The storage site identifier.
      required: true
      type: string
    - name: bucket
      in: path
      description: The name of the bucket
      required: true
      type: string
    - name: object
      in: path
      description: The object identifier
      required: true
      type: string
    get:
      operationId: describeObject
      summary: Describe object
      description: Describe object
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/object'
        400:
          description: Bad Request
          schema:
            type: string
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: Not Found
          schema:
            type: string
      tags:
      - internal
    delete:
      operationId: deleteObject
      summary: Delete object
      description: Delete object
      responses:
        204:
          description: Success
        400:
          description: Bad Request
          schema:
            type: string
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: Not Found
          schema:
            type: string
      tags:
      - internal
  /partners/{partner}/storage-sites:
    parameters:
    - name: partner
      in: path
      description: The partner identifier
      required: true
      type: string
    get:
      operationId: listPartnerStorageSites
      summary: List all storage sites for a partner.
      description: List all storage sites that belong to the partner, used by the
        partner.
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/partner_storage_sites'
        400:
          description: Bad Request
          schema:
            type: string
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
        404:
          description: Not Found
          schema:
            type: string
  /status:
    get:
      operationId: status
      summary: Check if API Server is Ready to Serve Requests
      description: If the API server is ready to serve requests, the response code
        204 HTTP is returned.
      responses:
        204:
          description: Success
        401:
          description: Unauthorized
          schema:
            type: string
        403:
          description: Forbidden
          schema:
            type: string
      tags:
      - internal
definitions:
  area:
    type: object
    required:
    - country
    properties:
      country:
        description: The 2 letter country code according to ISO-3166-1
        type: string
      state_or_province:
        description: The country subdivision code according to ISO-3166-2
        type: string
  bucket:
    type: object
    required:
    - spec
    - status
    properties:
      spec:
        $ref: '#/definitions/bucket_spec'
      status:
        $ref: '#/definitions/bucket_status'
  bucket_create:
    type: object
    required:
    - name
    properties:
      name:
        description: The bucket name
        type: string
        minLength: 3
        maxLength: 63
        pattern: ^[a-z0-9][-.a-z0-9]+[a-z0-9]$
  bucket_spec:
    type: object
    required:
    - name
    properties:
      name:
        description: The bucket name
        type: string
        minLength: 3
        maxLength: 63
        pattern: ^[a-z0-9][-.a-z0-9]+[a-z0-9]$
  bucket_status:
    type: object
    required:
    - path
    - storage_site_id
    - org_id
    - project_id
    - created_at
    properties:
      path:
        description: The bucket path
        type: string
      storage_site_id:
        description: The unique ID of the storage site.
        type: string
      org_id:
        description: The unique identifier of the organization.
        type: string
      project_id:
        description: The unique identifier of the project.
        type: string
      created_at:
        description: The time at which this bucket was created.
        type: string
        format: date-time
  buckets:
    description: List of buckets
    type: object
    required:
    - items
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/bucket'
  location:
    type: object
    required:
    - area
    - city
    - latitude
    - longitude
    - continent
    properties:
      area:
        $ref: '#/definitions/area'
      city:
        description: The city of the location
        type: string
        example: Portland
      latitude:
        description: The latitude in range (-90.0, 90.0)
        type: string
      longitude:
        description: The longitude in range (-180.0, 180.0)
        type: string
      continent:
        description: The continent of the location
        type: string
        enum: [africa, asia, europe, north-america, south-america, antarctica, oceania]
  object:
    type: object
    required:
    - name
    - path
    - org_id
    - project_id
    - bucket
    - size
    - updated_at
    properties:
      name:
        description: The object name
        type: string
      path:
        description: The path to the resource that includes all the parents.
        type: string
      org_id:
        description: The unique identifier of the organization.
        type: string
      project_id:
        description: The unique identifier of the project.
        type: string
      bucket:
        description: The name of the bucket.
        type: string
      size:
        description: The size of the object
        type: integer
        format: int64
      updated_at:
        description: The time at which this object was last updated.
        type: string
        format: date-time
  objects:
    type: object
    required:
    - items
    properties:
      common_prefixes:
        description: List of keys that act like subdirectories in the directory specified
          by prefix.
        type: array
        items:
          type: string
      items:
        description: The list of objects.
        type: array
        items:
          $ref: '#/definitions/object'
      more:
        description: There are more objects than the list returned
        type: boolean
  partner_storage_site:
    type: object
    required:
    - id
    - name
    - path
    - endpoint
    - location
    - access_level
    - data_center_id
    - data_center_path
    - enabled
    properties:
      id:
        description: The unique identifier of the storage site
        type: string
      name:
        description: The storage site name
        type: string
      path:
        description: The storage site path
        type: string
      endpoint:
        description: The S3-like API endpoint.
        type: string
      location:
        $ref: '#/definitions/location'
        description: The storage site actual geographical location
      access_level:
        description: |
          Access level that is required to use the storage site.
          public - storage site is available to all of ridge users.
          clients - storage site is only available to all clients of the owner.
          private - storage site is only available to clients that are explicitly authorized (regardless of their partner).
        type: string
        enum: [public, clients, private]
      data_center_id:
        description: The unique identifier of the data center.
        type: string
      data_center_path:
        description: The path to the data center.
        type: string
      enabled:
        description: Indicates if the storage site is enabled
        type: boolean
  partner_storage_sites:
    description: List of storage sites
    type: object
    required:
    - items
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/partner_storage_site'
  storage_site:
    type: object
    required:
    - id
    - name
    - path
    - endpoint
    - location
    - active
    - data_center_id
    - data_center_path
    - partner_id
    - partner_path
    - enabled
    - access_level
    properties:
      id:
        description: The unique identifier of the storage site
        type: string
      name:
        description: The storage site name
        type: string
      path:
        description: The storage site path
        type: string
      endpoint:
        description: The S3-like API endpoint
        type: string
      location:
        $ref: '#/definitions/location'
        description: The storage site actual geographical location
      active:
        description: Indicates if the project has, or recently had, buckets or storage
          keys in this storage site
        type: boolean
      data_center_id:
        description: The unique identifier of the data center.
        type: string
      data_center_path:
        description: The path to the data center resource.
        type: string
      partner_id:
        description: The unique identifier of the partner.
        type: string
      partner_path:
        description: The path to the partner.
        type: string
      enabled:
        description: Indicates if the storage site is enabled
        type: boolean
      access_level:
        description: |
          Access level that is required to use the storage site.
          public - storage site is available to all of ridge users.
          clients - storage site is only available to all clients of the owner.
          private - storage site is only available to clients that are explicitly authorized.
        type: string
        enum: [public, clients, private]
  storage_sites:
    description: List of storage sites
    type: object
    required:
    - items
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/storage_site'
tags:
- name: Keys
  description: Operations on access keys for object storage
- name: Storage Sites
  description: Operations on storage sites
x-explorer-enabled: false
x-samples-enabled: false
